<table summary="Adding New Flight" class="table" style="background:rgb(240,240,240)">
  <tr>
    <th>From</th>
    <td><%= f.select(:from, Location.all.map {|s| [s.city]} ) %></td>
  </tr>
  <tr>
    <th>To</th>
    <td><%= f.select(:to, Location.all.map {|s| [s.city]} ) %></td>
  </tr>
  <tr>
    <th>Date and Time</th>
    <td><%= f.datetime_select(:departure, :minute_step => 15 ) %></td>
  </tr>
  <tr>
    <th>number of First class seats</th>
    <td><%= f.number_field(:first_class_seats, :max => 200 ) %></td>
  </tr>
  <tr>
    <th>number of bussiness class seats</th>
    <td><%= f.number_field(:bussiness_class_seats, :max => 200 ) %></td>
  </tr>
  <tr>
    <th>number of Economy class seats</th>
    <td><%= f.number_field(:economy_class_seats, :max => 200 ) %></td>
  </tr>

  <tr>
    <th>price of First class seat</th>
    <td><%= f.number_field(:price_first_class) %></td>
  </tr>
  <tr>
    <th>price of bussiness class seat</th>
    <td><%= f.number_field(:price_bussiness_class) %></td>
  </tr>
  <tr>
    <th>price of economy class seat</th>
    <td><%= f.number_field(:price_economy_class) %></td>
  </tr>
  <tr>
    <th>approve</th>
    <td><%= f.check_box(:approve) %></td>
  </tr>
</table>
