
<div class="container" style="width: 35% ;margin-top:5%; height:100%">
  <h2 class="text-center" style="margin-top: 5%" > <b> Buy Tickets </b> </h2>

  <%= form_for :tickets, url: 'bought' do |f| %>
  	<table summary="Buy Ticket" class="table text-center container" style="background:rgb(240,240,240)">
  <tr>
    <th>From</th>
    <td><%= @flight.from  %> </td>
  </tr>
  <tr>
    <th>To</th>
    <td><%= @flight.to %></td>
  </tr>
  <tr>
    <th>Departure</th>
    <td><%= @flight.departure %></td>
  </tr>
  <tr>
    <th>Seat</th>
    <td><%= f.collection_select :seat_type, Seat.order(:type),:id,:type %></td>
    <td><%= f.number_field(:number_of_tickets,max: 10, min: 1) %>
  </tr>
</table>
    <div class="text-center" style="allignemnt:center; margin-top:10px">
      <%= button_to 'Buy',bought_flight_path(f), :class => 'btn btn-primary btn-lg' %>
    </div>

  <% end %>
</div>
