<div>
<% if !current_user.manager  %>
     <h2 class="text-center" style="margin-top: 5%" > <b> Search Flights </b> </h2>
  <div class="container table" style="text-align: center;background-color: rgb(240,240,240); margin-top:3%;margin;5px" >
      <div class = 'col-sm-3'>
        <h2>Search</h2>
        <%= form_tag flights_path,:method => :get do %>
        <table  class="table">
          <thread>
            <tr>
              <td>
                <h5>From:</h5>
              </td>
              <td>
                <%= text_field_tag :from, params[:from]%>
              </td>
            </tr>
          </thread>
          <thread>
              <tr>
                <td>
                  <h5>To:</h5>
                </td>
              <td>
                <%= text_field_tag :to, params[:to]%>
              </td>
              </tr>
          </thread>
          <thread>
              <tr>
                <td>
              <%=submit_tag("Search",:name => nil) %>
                </td>
              </tr>
          </thread>
        </table>
        <% end %>
    </div>
    <div class = 'col-sm-9'>
    <h2>Schedule</h2>
        <table class="table">
          <tr class="header">
            <th>From</th>
            <th>To</th>
            <th>Departure</th>
            <th>Price First Class</th>
            <th>Price Bussiness Class</th>
            <th>Price Economy Class</th>
            <th>Buy</th>
          </tr>
          <% @flights.each do |f| %>
          <tr>
            <td><%= f.from %></td>
            <td><%= f.to %></td>
            <td><%= f.departure %></td>
            <td><%= f.price_first_class %></td>
            <td><%= f.price_bussiness_class %></td>
            <td><%= f.price_economy_class %></td>
            <td><%= button_to "Buy", buy_flight_path(f),method: :get, class: "btn btn-primary" %></td>
          </tr>
          <% end %>
        </table>
    </div>
  </div>
  <% else %>
   <h2 class="text-center" style="margin-top: 5%" > <b> Flight Details </b> </h2>
  <div  class="container" style="text-align: center;background-color: rgb(240,240,240); margin-top:3%;margin;5px">
   <table class="table">
          <tr class="header">
            <th>From</th>
            <th>To</th>
            <th>Departure</th>
            <th>Price First Class</th>
            <th>Price Bussiness Class</th>
            <th>Price Economy Class</th>
            <th>Buy</th>
          </tr>
          <% if @un_approved.present? %>
            <% @un_approved.each do |f| %>
            <tr>
              <td><%= f.from %></td>
              <td><%= f.to %></td>
              <td><%= f.departure %></td>
              <td><%= f.price_first_class %></td>
              <td><%= f.price_bussiness_class %></td>
              <td><%= f.price_economy_class %></td>
              <td><%= button_to "Approve", approve_flight_path(f),method: :get, class: "btn btn-primary" %></td>
            </tr>
            <% end %>
          <% end %>
        </table>
        </div>
<% end %>
</div>
