
<div class="container" style="width: 35% ;margin-top:5%; height:100%">
  <h2>Add Flight Details</h2>

  <%= form_for(@flight) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div style="allignemnt:center; margin:10px">
      <%=f.submit("Add Flight",:class => 'btn btn-primary') %>
    </div>

  <% end %>
</div>
