<div class="container" style="width: 50% ;margin-top:5%; height:100%">
  <h2>Flight Detail</h2>
  <table summary="Flight detail view" class="table" style="background:rgb(240,240,240)">
    <tr>
      <th>From</th>
      <td><%= @flight.from %></td>
    </tr>
    <tr>
      <th>To</th>
      <td><%= @flight.to %></td>
    </tr>
    <tr>
      <th>Departure </th>
      <td><%= @flight.departure %></td
    </tr>
    <tr>
      <th> Total First Class</th>
      <td><%= @flight.first_class_seats %></td>
    </tr>
    <tr>
      <th> Total Bussiness Class</th>
      <td><%= @flight.bussiness_class_seats %></td>
    </tr>
    <tr>
      <th> Total Economy Class</th>
      <td><%= @flight.economy_class_seats %></td>
    </tr>
    <tr>
      <th> Available First Class</th>
      <td><%= @flight.avaible_seats_first_class %></td>
    </tr>
    <tr>
      <th> Available Bussiness Class</th>
      <td><%= @flight.avaible_seats_bussiness_class %></td>
    </tr>
    <tr>
      <th> Available Economy Class</th>
      <td><%= @flight.avaible_seats_sconomy_class %></td>
    </tr>
    <tr>
      <th>Price First Class Seat </th>
      <td><%= @flight.price_first_class %></td>
    </tr>
    <tr>
      <th>Price Bussiness Class Seat </th>
      <td><%= @flight.price_bussiness_class %></td>
    </tr>
    <tr>
      <th>Price Economy Class Seat </th>
      <td><%= @flight.price_economy_class %></td>
    </tr>
    <tr>
      <th>approved</th>
      <td><%= @flight.approve ? 'Yes' : 'No' %></td>
    </tr>
  </table>
  <%= button_to "Back", flights_path, :method => :get, :class => 'btn btn-primary' %>

</div>
