<table summary="feature form fields" class="form-signin">
  <tr>
    <th>Seat</th>
    <td><%= f.select(:seat_id, Seat.all.map {|s| [s.type,s.id]} ) %></td>
  </tr>
  <tr>
    <th>feature</th>
    <td><%= f.text_field(:feature, :size => 40 ,:max_length => 40) %></td>
  </tr>
</table>
