<div style="padding:10%"/>
<%= link_to("<< Back to List", seat_features_path, :class => 'back-link') %>
</div>
<div class="container" style="width: 35% ;margin-top:10%; height:100%">
  <h2>add Seat feature</h2>

  <%= form_for(@feature) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= f.submit("Update feature") %>
    </div>

  <% end %>
</div>
