
<div class="container">
  <h2>Seat feature</h2>
<div class="row table" style="text-align: center;background-color: rgb(240,240,240); margin-top:50px;margin;5px" >
 <div class="col-sm-4" style="text-align: center;background-color: rgb(240,240,240); margin-top:50px;margin;5px" >
      <h2> First Class </h2>
      <table class="table"  summary="f list">
        <% @features1.each do |f| %>
        <tr>
           <td><h5 style="margin:10px"> <%= f.feature %> </h5> </td>
        </tr>
        <% end %>
      </table>
  </div>
 <div class="col-sm-4" style="text-align: center;background-color: rgb(240,240,240); margin-top:50px;margin;5px" >
     <h2> Bussiness Class </h2>
     <table class="table" summary="f list">
       <% @features2.each do |f| %>
       <tr>
         <td><h5 style="margin:10px"> <%= f.feature %> </h5> </td>
       </tr>
       <% end %>
     </table>
 </div>
 <div class="col-sm-4" style="text-align: center;background-color: rgb(240,240,240); margin-top:50px;margin;5px" >
     <h2> Economy Class </h2>
     <table class="table" summary="f list">
       <% @features3.each do |f| %>
       <tr>
       <td> <h5 style="margin:10px"> <%= f.feature %> </h5> </td>
       </tr>
       <% end %>
     </table>
 </div>

</div>

</div>
