<%= link_to("<< Back to List", seat_features_path, :class => 'back-link') %>

<div class="container" style="width: 35% ;margin-top:10%; height:100%">
  <h2>New Flight</h2>

  <%= form_for(@feature) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div style="allignemnt:center; margin:10px">
      <%= f.submit("Add feature") %>
    </div>

  <% end %>
</div>
