<div class="container">
<div class="row" style="margin-top: 5%">
  <div class="col-sm-12">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="padding: 0.1%; background-color: transparent;" >
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="lahore.jpg" alt="home" style="width: 100%; max-height:700px;">
          <div class="carousel-caption">
            <h3>Come Fly With</h3>
            <p>Enjoy every moment of your journey</p>
          </div>
        </div>

        <div class="item">
          <img src="islamabad.jpg" alt="home" style="width: 100%; max-height:700px">
          <div class="carousel-caption">
            <h3>Come Fly With</h3>
            <p>Enjoy every moment of your journey</p>
          </div>
        </div>

        <div class="item">
          <img src="karachi.jpg" alt="home" style="width: 100%; max-height:700px">
          <div class="carousel-caption">
            <h3>Come Fly With</h3>
            <p>Enjoy every moment of your journey</p>
          </div>
        </div>
      </div>
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
<div class="row" style="margin-top:10px;">
  <div class="col-sm-12" style="padding: 20px;margin-right: 0px">
    <h2 style="text-align: center;background-color: rgb(120,120,120); color: rgb(255,255,255);margin: 0 px;">Schedule</h2>
    <table  class="table text-center" style="background-color: rgb(240,240,240);padding: 20px">
      <thead>
       <tr>
        <th class="tablestyle" style="font-weight: bold;">From</th>
        <th class="tablestyle" style="font-weight: bold;">To</th>
        <th class="tablestyle" style="font-weight: bold;">Departure</th>
        <th class="tablestyle" style="font-weight: bold;">Price First Class</th>
        <th class="tablestyle" style="font-weight: bold;">Price Bussiness Class</th>
        <th class="tablestyle" style="font-weight: bold;">Price Economy Class</th>
      </tr>
    </thead>
    <% @flights.each do |f| %>
      <thread>
        <tr>
        <th class="tablestyle"><%= f.from %> </th>
        <th class="tablestyle"><%= f.to %> </th>
        <th class="tablestyle"><%= f.departure %> </th>
        <th class="tablestyle"><%= f.price_first_class %> </th>
        <th class="tablestyle"><%= f.price_bussiness_class %> </th>
        <th class="tablestyle"><%= f.price_economy_class %> </th>

        <th>
        </tr>

    <% end %>
</table>
</div>
</div>
</div>
