<div style="height:20px"></div>
<footer style="height: 70px; margin:0; clear:both; width: 100%;  position: relative; background-color: rgb(240,240,240);">
  <div class="container">
   <h4>Airfly Airline</h4>
   <h5>Copyrights</h5>
   </div>
 </div>
</footer>