<nav class="navbar navbar-default navbar-fixed-top" style="margin-bottom: 0px; background-color: rgb(240,240,240); ">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="navbar-brand">Airfly</li>
        <li class="active"> <%= link_to "Home", 'home/index' %> </li>
        <li> <%= link_to "Flights Schedule", flights_path %> </li>
        <li><a href="#">Tickets</a></li>
        <li><a href="#">Book Flight</a></li>
      </ul>
      <table style="margin-top:1%">
        <tr>
     <td style="background-color:rgb(140,140,140)">
      <% if user_signed_in? %>
        <%= button_to "Sign out", destroy_user_session_path, :method => :delete, class: "btn btn-primary" %>
      <% else %>
          <%= button_to "Sign in", user_session_path, class: "btn btn-primary"  %>
      <% end %>
    </td>
    <tr>
  </table>
   </div>
 </nav>