<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="generator" content=
  "HTML Tidy for HTML5 for Windows version 5.2.0">
  <meta charset="utf-8">
  <meta name="viewpoint" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</script>
<title> FlyAir Online Booking </title>
</head>
<body style="margin-left: 10%; margin-right: 10%;background-color: rgb(200,200,200);">
  <nav class="navbar navbar-default navbar-fixed-top" style="margin-bottom: 0px; background-color: rgb(240,240,240); ">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="navbar-brand">Airfly</li>
        <li class="active"> <%= link_to "Home", '/' %> </li>
        <li> <%= link_to "Flights Schedule", flights_path %> </li>
        <li> <%= link_to "Seat Feature", seat_features_path %></li>
      </ul> 
      <table style="margin-top:1%">
        <tr>
     <td style="background-color:rgb(140,140,140)">
      <% if user_signed_in? %>
        <%= button_to "Sign out", destroy_user_session_path, :method => :delete, class: "btn btn-primary" %>
      <% else %>
          <%= button_to "Sign in", user_session_path, class: "btn btn-primary"  %>
      <% end %>
    </td>
    <tr>
  </table>
   </div>
 </nav>
 
   <%= yield %>

<div class="push">
<footer class="footer" style="background: rgb(240,240,240); margin-top: 2%" >
  <div class="container">
   <h4>Airfly Airline</h4>
   <h5>Copyrights</h5>
   </div>
 </div>
</footer>
</div>
</body>

</html>